player-connection-mode=Listen
player-connection-guid=2951093954
player-connection-debug=0
player-connection-project-name=Starfighter Combat
player-connection-ip=192.168.0.14
player-connection-ip=192.168.56.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=2a274ed30eaa443282895d1f23673aa0
